html {
  max-width: 1920px;
  height: 100vh !important;
  overflow: hidden;

}
body {
  max-width: 1920px;
  height: 100vh !important;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: @background-color;
  position: fixed;
}

.layout {
  min-height: 100vh;

  .logo {
    width: 190px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 70px;
  }

  nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
    background: @sidebar-color;
  }

  .right-layout {
    margin-left: 240px;
  }

  nz-content {
    margin: 28px 30px 0;
    overflow: initial;
  }

  .inner-content {
    min-height: 100vh;
    border-radius: 6px;
    margin-top: 20px;
  }

}
